# Python
__pycache__/
*.pyc
*.pyo
*.pkl
*.joblib

# Virtual env
venv/
.venv/
ENV/
env/

# Datasets
data/raw/*
data/processed/*

# Model outputs
backend/models/*.pkl
backend/models/*.csv

# Node
frontend/node_modules/
frontend/.next/
frontend/build/

# System files
.DS_Store
Thumbs.db
